<div style='width:100%'>
<mat-toolbar color='primary' fxLayoutGap='20px'>
    <button mat-raised-button color='accent'>Search</button>
    <button mat-raised-button color='accent' (click)="openAddNewGroup()" >Add Group</button>
    <span fxFlex="grow"></span>
    <button mat-raised-button color='accent' (click)="import()" >Import</button>
    <button mat-raised-button color='accent' (click)="exportPasswords()" >Export</button>
</mat-toolbar>
<div style='margin-top:20px'>
    <app-password-group *ngFor='let group of (presentableData| async)' [data]='group'></app-password-group>
</div>
</div>


