<div style='width:100%' [hotkeys]="[['c', 'start search', testhotkey]]"
    [seqHotkeys]="[['a->d', 'a to d seq key combo',testseqhotkey]]">
    <mat-toolbar class='stickyToolbar' fxLayoutGap='20px' (click)='this.searching= false '>
        <button *ngIf='!searching' mat-raised-button color='accent' (click)="searchClick($event)"
            style='width:10em'>Search</button>
        <mat-form-field *ngIf='searching'>
            <input matInput [formControl]='searchInput' (click)='inputClick($event)'>
        </mat-form-field>
        <button mat-raised-button color='accent' (click)="openAddNewGroup()" style='width:10em'>Add Group</button>
        <span fxFlex="grow"></span>
        <button mat-raised-button color='accent' (click)="import()">Import</button>
        <button mat-raised-button color='accent' (click)="exportPasswords()">Export</button>
        <mat-icon>account_box</mat-icon>
        <span>{{ (user| async)?.displayName}}</span>
        <button mat-raised-button color='accent' (click)="signout()">Sign Out</button>
    </mat-toolbar>
    <div fxLayoutAlign='center start'>
        <div style='margin-top:20px;width:80%'>
            <app-password-group *ngFor='let group of ((searching?presentableFilteredData:presentableData)| async)'
                [data]='group'></app-password-group>
        </div>
    </div>
</div>

<app-cheatsheet></app-cheatsheet>