<h2 mat-dialog-title>Add New Password</h2>
<mat-dialog-content>
  <div style="width:600px">
    <form [formGroup]="newPasswordForm" (ngSubmit)="save()">
    <div fxLayout='column'>
      <mat-form-field>
        <input type='input' matInput placeholder="Website or Name" formControlName='target'>
      </mat-form-field>
      <mat-form-field>
        <input type='input' matInput placeholder="URL" formControlName='targetURL'>
      </mat-form-field>
      <mat-form-field>
        <input type='input' matInput placeholder="UserName" formControlName='username' required>
      </mat-form-field>
      <mat-form-field>
        <input type='input' matInput placeholder="Password" formControlName='password' required>
      </mat-form-field>
      <mat-form-field>
        <input type='input' matInput placeholder="Note" formControlName='note'>
      </mat-form-field>
    </div>
    <div fxLayoutGap="20px">
      <span fxFlex="grow"></span>
      <button mat-raised-button mat-dialog-close>Cancel</button>
      <button type="submit" mat-raised-button mat-dialog-close  [disabled]="!newPasswordForm.valid" (click)="save()">Save</button>
    </div>
  </form>
  </div>
</mat-dialog-content>

