<mat-card style='width:1000px' class='mat-elevation-z8'>
  <mat-card-content>

    <div fxLayoutGap='20px'>
      <h4 fxFlex='100px'>Facebook</h4>
      <p>some description</p>
      <span fxFlex='grow'></span>
      <button mat-raised-button color='primary' style='height: 2.5em;width:10em'>Generate</button>
      <button mat-button mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div fxLayoutGap='20px'>
   
      <label>User Name: {{passworditem.username}}</label>
      <app-password-field [copybutton]='true'></app-password-field>
      <button mat-raised-button color='primary' (click)='save()'>save</button>
      <button mat-raised-button color='primary' (click)='toggleHistory()'> History
        <mat-icon *ngIf='showHistory'>keyboard_arrow_up</mat-icon>
        <mat-icon *ngIf='!showHistory'>keyboard_arrow_down</mat-icon>
      </button>
    </div>

    <div *ngIf='showHistory' style='margin-top:20px'>
      <div *ngIf='passworditem.history.length===0'>No History</div>
      <div *ngIf='passworditem.history.length>0'>
        <div *ngFor='let item of passworditem.history'>
          <app-password-field></app-password-field>
          <button mat-icon-button (click)='deleteHistory(item)'>
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <button mat-raised-button color='primary' (click)='clearHistory()'> Clear</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>