table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

th {
    font-weight: 500;
    text-align: left;
    vertical-align: bottom;
    padding: .75rem;
    border-top: 1px solid #dee2e6;
    border-bottom: 2px solid #dee2e6;
}

td {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    padding-left: 0;
}
