<div fxLayoutGap='20px' style="margin:50px">
  <mat-divider></mat-divider>

   <mat-toolbar>
  <h2 fxFlex='200px'>{{data.groupName}}</h2>
    <span fxFlex="600px"></span>
   <!-- <button mat-raised-button color='primary'> Search inside group</button> -->
    <button mat-raised-button color='primary'  (click)="addNewPassword()" style='height:3em'> Add new password</button>
    <span fxFlex="50px"></span>
  </mat-toolbar> 
  

  <app-password-item *ngFor='let item of data.content' [passworditem]="item"></app-password-item>
</div>